In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas as pd

from foursquare.dataset import build_matches
from foursquare.utils_ml import score_iou

2022-08-06 19:56:13.076036: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-06 19:56:13.076052: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
/home/pablo/miniconda3/envs/foursquare/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

imported sklearn.neighbors.NearestNeighborsDefault

In [3]:
df_train = pd.read_csv("/kaggle/input/foursquare-location-matching/train.csv")
df_train.head()

,id,name,latitude,longitude,address,city,state,zip,country,url,phone,categories,point_of_interest
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,NaN,Bars,P_677e840bb6fc7e
1,E_000002eae2a589,Carioca Manero,-22.907225,-43.178244,NaN,NaN,NaN,NaN,BR,NaN,NaN,Brazilian Restaurants,P_d82910d8382a83
2,E_000007f24ebc95,ร้านตัดผมการาเกด,13.780813,100.484900,NaN,NaN,NaN,NaN,TH,NaN,NaN,Salons / Barbershops,P_b1066599e78477
3,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,NaN,Mobile Phone Shops,P_b2ed86905a4cd3
4,E_00001d92066153,Restaurante Casa Cofiño,43.338196,-4.326821,NaN,Caviedes,Cantabria,NaN,ES,NaN,NaN,Spanish Restaurants,P_809a884d4407fb

In [4]:
df_matches_true = build_matches(df_train)
df_matches_true.head()

                 id                               matches
0  E_000001272c6c5d  [E_000001272c6c5d, E_da7fa3963561f8]
1  E_000002eae2a589  [E_000002eae2a589, E_e80db432029aea]
2  E_000007f24ebc95                    [E_000007f24ebc95]
3  E_000008a8ba4f48                    [E_000008a8ba4f48]
4  E_00001d92066153  [E_00001d92066153, E_7e0d8e9138dd56]

In [5]:
df_matches_dummy = df_matches_true.copy()
df_matches_dummy["matches"] = df_matches_dummy["id"].apply(lambda x: [x])
df_matches_dummy.head()

                 id             matches
0  E_000001272c6c5d  [E_000001272c6c5d]
1  E_000002eae2a589  [E_000002eae2a589]
2  E_000007f24ebc95  [E_000007f24ebc95]
3  E_000008a8ba4f48  [E_000008a8ba4f48]
4  E_00001d92066153  [E_00001d92066153]

In [6]:
score = score_iou(df_matches_true, df_matches_dummy)
print(f"score: {score:.4f}")

score: 0.6498